FirstCup/MsgFormatsProjects/CobolLib/CustomerAddress.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:dfdlCobolFmt="http://www.ibm.com/dfdl/CobolDataDefinitionFormat" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ibm.com/dfdl/CobolDataDefinitionFormat" schemaLocation="IBMdefined/CobolDataDefinitionFormat.xsd"/>
  <xsd:complexType name="CustomerAddress">
    <xsd:sequence>
      <xsd:element dfdl:lengthKind="implicit" maxOccurs="5" minOccurs="5" name="Addresses">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:choice dfdl:choiceLength="162" dfdl:choiceLengthKind="explicit">
              <xsd:element dfdl:lengthKind="implicit" name="AddressParts">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element default="0" dfdl:decimalSigned="no" dfdl:length="3" dfdl:textNumberPattern="000+" name="HouseNumber">
                      <xsd:annotation>
                        <xsd:documentation>PIC 9(3) display</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="dfdlCobolFmt:PIC9-Display-Zoned__short">
                          <xsd:minInclusive value="0"/>
                          <xsd:maxInclusive value="999"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element default="                                                  " dfdl:length="50" name="Street">
                      <xsd:annotation>
                        <xsd:documentation>PIC X(50) display</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="dfdlCobolFmt:PICX__string">
                          <xsd:maxLength value="50"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element default="                                                  " dfdl:length="50" name="City">
                      <xsd:annotation>
                        <xsd:documentation>PIC X(50) display</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="dfdlCobolFmt:PICX__string">
                          <xsd:maxLength value="50"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element default="                                                  " dfdl:length="50" name="County">
                      <xsd:annotation>
                        <xsd:documentation>PIC X(50) display</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="dfdlCobolFmt:PICX__string">
                          <xsd:maxLength value="50"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element default="        " dfdl:length="8" name="Postcode">
                      <xsd:annotation>
                        <xsd:documentation>PIC X(8) display</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="dfdlCobolFmt:PICX__string">
                          <xsd:maxLength value="8"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element default=" " dfdl:length="1" name="Country">
                      <xsd:annotation>
                        <xsd:appinfo source="http://www.wsadie.com/appinfo">
                          <level88>Wales value W</level88>
                          <level88>Scotland value S</level88>
                          <level88>Northern_Ireland value N</level88>
                          <level88>England value E</level88>
                        </xsd:appinfo>
                        <xsd:documentation>PIC X display</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="dfdlCobolFmt:PICX__string">
                          <xsd:maxLength value="1"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element default=" " dfdl:length="162" name="AddressString">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.wsadie.com/appinfo">
                    <initialValue kind="SPACE"/>
                  </xsd:appinfo>
                  <xsd:documentation>PIC X(162) display</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="dfdlCobolFmt:PICX__string">
                    <xsd:maxLength value="162"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:choice>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:annotation>
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format binaryFloatRep="ieee" byteOrder="bigEndian" encoding="UTF-8" ignoreCase="yes" leadingSkip="0" occursCountKind="fixed" ref="dfdlCobolFmt:CobolDataFormat" textNumberPadCharacter="0" textStringJustification="left" textStringPadCharacter="%SP;" textZonedSignStyle="asciiStandard" trailingSkip="0"/>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:annotation>
    <xsd:documentation>
	This XSD was created by importing COBOL copybook.

	Source file:	importFiles\CustomerAddress.cpy

	Import options:
		EXT_DECIMAL_SIGN=ASCII
		QUOTE=DOUBLE
		NUMPROC=PFD
		FLOATING_POINT_FORMAT=0
		NSYMBOL=NATIONAL
		ENDIAN=Big
		EXTENSION_CPY=DS
		CODEPAGE=UTF-8
		TRUNC=STD
		EXTENSION_CBL=FP
		EXTENSION_CCP=FP
		PLATFORM_SELECTION=0
		REMOTE_ENDIAN=Little
		EXTENSION_COB=FP
		SCHEMA_TARGET_NAMESPACE_URI=null
		CREATE_DEFAULT_VALUES_FROM_INITIAL_VALUES=true
		CREATE_FACETS_FROM_LEVEL_88_VALUE_CLAUSES=false
		CREATE_NULL_VALUES_FOR_FIELDS=false
		NULL_CHARACTER_FOR_STRING=%SP; 
		NULL_CHARACTER_FOR_NUMBER=%#x00; 
		STRING_PADDING_CHARACTER=%SP;
		NUMBER_PADDING_CHARACTER=0
		DEFAULT_FOR_STRING= 
		DEFAULT_FOR_NUMBER=0

</xsd:documentation>
  </xsd:annotation>
  <xsd:element dfdl:lengthKind="implicit" ibmSchExtn:docRoot="true" name="CustomerAddress" type="CustomerAddress"/>
</xsd:schema>