FirstCup/MsgFormatsProjects/CobolLib/OrderList.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:dfdlCobolFmt="http://www.ibm.com/dfdl/CobolDataDefinitionFormat" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ibm.com/dfdl/CobolDataDefinitionFormat" schemaLocation="IBMdefined/CobolDataDefinitionFormat.xsd"/>
  <xsd:complexType name="OrderList">
    <xsd:sequence>
      <xsd:element default=" " dfdl:length="1" name="StartPoint">
        <xsd:annotation>
          <xsd:appinfo source="http://www.wsadie.com/appinfo">
            <initialValue kind="SPACE"/>
          </xsd:appinfo>
          <xsd:documentation>PIC X display</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="dfdlCobolFmt:PICX__string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" ibmDfdlExtn:sampleValue="1" name="InvoiceCount">
        <xsd:annotation>
          <xsd:documentation>PIC 9(2) binary</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="dfdlCobolFmt:PIC9-Comp__short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" ibmDfdlExtn:sampleValue="1" name="ItemCount">
        <xsd:annotation>
          <xsd:documentation>PIC 9(2) binary</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="dfdlCobolFmt:PIC9-Comp__short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element dfdl:lengthKind="implicit" name="Inventory">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element dfdl:lengthKind="implicit" maxOccurs="10" minOccurs="10" name="Item">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element default=" " dfdl:length="1" name="ItemType">
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.wsadie.com/appinfo">
                        <initialValue kind="SPACE"/>
                      </xsd:appinfo>
                      <xsd:documentation>PIC X display</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="dfdlCobolFmt:PICX__string">
                        <xsd:maxLength value="1"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element default=" " dfdl:length="2" name="ItemCode">
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.wsadie.com/appinfo">
                        <initialValue kind="SPACE"/>
                      </xsd:appinfo>
                      <xsd:documentation>PIC X(2) display</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="dfdlCobolFmt:PICX__string">
                        <xsd:maxLength value="2"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element default=" " dfdl:length="50" name="Description">
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.wsadie.com/appinfo">
                        <initialValue kind="SPACE"/>
                      </xsd:appinfo>
                      <xsd:documentation>PIC X(50) display</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="dfdlCobolFmt:PICX__string">
                        <xsd:maxLength value="50"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element default="0" dfdl:binaryDecimalVirtualPoint="0" dfdl:decimalSigned="no" dfdl:length="3" name="Price">
                    <xsd:annotation>
                      <xsd:documentation>PIC 9(4) packedDecimal</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="dfdlCobolFmt:PIC9-Comp3__short">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element default=" " dfdl:length="50" name="Category">
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.wsadie.com/appinfo">
                        <initialValue kind="SPACE"/>
                      </xsd:appinfo>
                      <xsd:documentation>PIC X(50) display</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="dfdlCobolFmt:PICX__string">
                        <xsd:maxLength value="50"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element dfdl:lengthKind="implicit" name="SaleList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element dfdl:lengthKind="implicit" dfdl:occursCount="{../../InvoiceCount}" dfdl:occursCountKind="expression" maxOccurs="50" minOccurs="1" name="Invoice">
              <xsd:annotation>
                <xsd:appinfo source="http://www.wsadie.com/appinfo">
                  <dependingOn>//OrderList;XSDComplexTypeDefinition/XSDParticle/XSDModelGroup/XSDParticle=1/InvoiceCount;XSDElementDeclaration</dependingOn>
                </xsd:appinfo>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element dfdl:lengthKind="implicit" name="InvoiceHeader">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element default=" " dfdl:length="1" maxOccurs="2" minOccurs="2" name="CustomerInitial">
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.wsadie.com/appinfo">
                              <initialValue kind="SPACE"/>
                            </xsd:appinfo>
                            <xsd:documentation>PIC X display</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="dfdlCobolFmt:PICX__string">
                              <xsd:maxLength value="1"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element default=" " dfdl:length="50" name="Surname">
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.wsadie.com/appinfo">
                              <initialValue kind="SPACE"/>
                            </xsd:appinfo>
                            <xsd:documentation>PIC X(50) display</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="dfdlCobolFmt:PICX__string">
                              <xsd:maxLength value="50"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element dfdl:lengthKind="implicit" name="Items">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element dfdl:lengthKind="implicit" dfdl:occursCount="{../../../../ItemCount}" dfdl:occursCountKind="expression" maxOccurs="50" minOccurs="1" name="Item">
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.wsadie.com/appinfo">
                              <dependingOn>//OrderList;XSDComplexTypeDefinition/XSDParticle/XSDModelGroup/XSDParticle=2/ItemCount;XSDElementDeclaration</dependingOn>
                            </xsd:appinfo>
                          </xsd:annotation>
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element default=" " dfdl:length="2" name="ItemCode">
                                <xsd:annotation>
                                  <xsd:appinfo source="http://www.wsadie.com/appinfo">
                                    <initialValue kind="SPACE"/>
                                  </xsd:appinfo>
                                  <xsd:documentation>PIC X(2) display</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                  <xsd:restriction base="dfdlCobolFmt:PICX__string">
                                    <xsd:maxLength value="2"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element default="0" name="Quantity">
                                <xsd:annotation>
                                  <xsd:documentation>PIC 9(9) binary</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                  <xsd:restriction base="dfdlCobolFmt:PIC9-Comp5__int"/>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element default=" " dfdl:length="1" name="PointOfSaleType">
        <xsd:annotation>
          <xsd:appinfo source="http://www.wsadie.com/appinfo">
            <initialValue kind="SPACE"/>
          </xsd:appinfo>
          <xsd:documentation>PIC X display</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="dfdlCobolFmt:PICX__string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:choice dfdl:choiceLength="51" dfdl:choiceLengthKind="explicit">
        <xsd:element dfdl:lengthKind="implicit" name="PointOfSale1">
                              <xsd:annotation>
            <xsd:appinfo source="http://www.ogf.org/dfdl/">
              <dfdl:discriminator>{/OrderList/PointOfSaleType eq '1'}</dfdl:discriminator>
            </xsd:appinfo>
          </xsd:annotation>
                    <xsd:complexType>
            <xsd:sequence>
              <xsd:element default="0" name="TillNumber">
                <xsd:annotation>
                  <xsd:documentation>PIC 9(9) binary</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="dfdlCobolFmt:PIC9-Comp__int">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxInclusive value="999999999"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element default=" " dfdl:length="47" name="fill_0">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.wsadie.com/appinfo">
                    <initialValue kind="SPACE"/>
                  </xsd:appinfo>
                  <xsd:documentation>PIC X(47) display</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="dfdlCobolFmt:PICX__string">
                    <xsd:maxLength value="47"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element dfdl:lengthKind="implicit" name="PointOfSale2">
                              <xsd:annotation>
            <xsd:appinfo source="http://www.ogf.org/dfdl/">
              <dfdl:discriminator>{/OrderList/PointOfSaleType eq '2'}</dfdl:discriminator>
            </xsd:appinfo>
          </xsd:annotation>
                    <xsd:complexType>
            <xsd:sequence>
              <xsd:element default=" " dfdl:length="1" name="SalesPersonInitial">
                <xsd:annotation>
                  <xsd:documentation>PIC X display</xsd:documentation>
                <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator message="">{/OrderList/PointOfSaleType eq '2'}</dfdl:discriminator>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="dfdlCobolFmt:PICX__string">
                    <xsd:maxLength value="1"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element default="                                                  " dfdl:length="50" name="SalesPersonSurname">
                <xsd:annotation>
                  <xsd:documentation>PIC X(50) display</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="dfdlCobolFmt:PICX__string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:annotation>
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format binaryFloatRep="ieee" byteOrder="bigEndian" encoding="UTF-8" ignoreCase="yes" leadingSkip="0" occursCountKind="fixed" ref="dfdlCobolFmt:CobolDataFormat" textNumberPadCharacter="0" textStringJustification="left" textStringPadCharacter="%SP;" textZonedSignStyle="asciiStandard" trailingSkip="0"/>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:annotation>
    <xsd:documentation>
	This XSD was created by importing COBOL copybook.

	Source file:	importFiles\OrderList.cpy

	Import options:
		EXT_DECIMAL_SIGN=ASCII
		QUOTE=DOUBLE
		NUMPROC=PFD
		FLOATING_POINT_FORMAT=0
		NSYMBOL=NATIONAL
		ENDIAN=Big
		EXTENSION_CPY=DS
		CODEPAGE=UTF-8
		TRUNC=STD
		EXTENSION_CBL=FP
		EXTENSION_CCP=FP
		PLATFORM_SELECTION=0
		REMOTE_ENDIAN=Little
		EXTENSION_COB=FP
		SCHEMA_TARGET_NAMESPACE_URI=null
		CREATE_DEFAULT_VALUES_FROM_INITIAL_VALUES=true
		CREATE_FACETS_FROM_LEVEL_88_VALUE_CLAUSES=false
		CREATE_NULL_VALUES_FOR_FIELDS=false
		NULL_CHARACTER_FOR_STRING=%SP; 
		NULL_CHARACTER_FOR_NUMBER=%#x00; 
		STRING_PADDING_CHARACTER=%SP;
		NUMBER_PADDING_CHARACTER=0
		DEFAULT_FOR_STRING= 
		DEFAULT_FOR_NUMBER=0

</xsd:documentation>
  </xsd:annotation>
  <xsd:element dfdl:lengthKind="implicit" ibmSchExtn:docRoot="true" name="OrderList" type="OrderList"/>
</xsd:schema>